Repository thefflyteam/onyx: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, check-lazy-imports, typescript-check

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -recursive
  language: system
  pass_filenames: false

check-lazy-imports:
  name: Check lazy imports
  entry: python3 backend/scripts/check_lazy_imports.py
  language: system

typescript-check:
  name: TypeScript type check
  entry: bash -c 'cd web && npm run types:check'
  language: system
  pass_filenames: false

fix(api): limit ingestion api to curators and admins (#6608)
  backend/onyx/server/onyx_api/ingestion.py
Due: check-lazy-imports

fix: frontend continues shimmering when tool call stopped partway (#6544)
  web/src/app/chat/message/messageComponents/AIMessage.tsx
  web/src/app/chat/message/messageComponents/MultiToolRenderer.test.tsx
  web/src/app/chat/message/messageComponents/MultiToolRenderer.tsx
  web/src/app/chat/message/messageComponents/renderers/FetchToolRenderer.tsx
  web/src/app/chat/message/messageComponents/renderers/SearchToolRenderer.tsx
  web/src/app/chat/message/messageComponents/renderers/SearchToolRendererV2.tsx
  web/src/app/chat/message/messageComponents/renderers/utils/timing.ts
  web/src/app/chat/message/messageComponents/timing.ts
Due: typescript-check

fix: slack bot fixes for channel filtering, spammy logs, and fed slack searching (#6588)
  backend/onyx/context/search/federated/slack_search.py
  backend/onyx/context/search/federated/slack_search_utils.py
  backend/onyx/federated_connectors/federated_retrieval.py
  backend/onyx/federated_connectors/slack/federated_connector.py
  backend/onyx/onyxbot/slack/listener.py
  backend/onyx/onyxbot/slack/models.py
  backend/onyx/prompts/federated_search.py
  backend/onyx/tools/tool_constructor.py
  backend/tests/external_dependency_unit/slack_bot/test_slack_bot_federated_search.py
Due: check-lazy-imports

feat(agents admin page): Make display priority adjustments PATCH instead of PUT, allowing granular edits + small cleanups (#6565)
  backend/onyx/db/persona.py
  backend/onyx/server/features/persona/api.py
  backend/tests/unit/onyx/db/test_persona_display_priority.py
  web/src/app/admin/assistants/PersonaTable.tsx
Due: check-lazy-imports, typescript-check

fix(docs): update admin docs links (#6611)
  backend/onyx/connectors/cross_connector_utils/miscellaneous_utils.py
  backend/onyx/connectors/file/connector.py
  backend/onyx/connectors/google_utils/shared_constants.py
  backend/onyx/llm/llm_provider_options.py
  backend/onyx/onyxbot/slack/listener.py
  backend/supervisord.conf
  deployment/docker_compose/env.prod.template
  web/src/app/admin/actions/ActionEditor.tsx
  web/src/app/admin/bots/SlackTokensForm.tsx
  web/src/app/admin/bots/page.tsx
  web/src/app/admin/connectors/[connector]/pages/gdrive/Credential.tsx
  web/src/app/admin/connectors/[connector]/pages/gmail/Credential.tsx
  web/src/app/ee/admin/whitelabeling/WhitelabelingForm.tsx
  web/src/components/admin/assistants/FormSections.tsx
  web/src/components/embedding/interfaces.tsx
  web/src/components/errorPages/ErrorPage.tsx
  web/src/lib/connectors/connectors.tsx
  web/src/lib/constants.ts
  web/src/lib/sources.ts
  web/src/refresh-components/onboarding/constants.tsx
  web/src/sections/actions/modals/AddOpenAPIActionModal.tsx
Due: check-lazy-imports, typescript-check

chore(mypy): type-check tools/ (#6615)
  .github/workflows/pr-python-checks.yml
  backend/requirements/dev.txt
  pyproject.toml
  tools/ods/hatch_build.py
  tools/ods/pyproject.toml
  uv.lock
Due: none

fix: litellm w/ azure reasoning mode (#6612)
  backend/onyx/llm/utils.py
  backend/tests/unit/onyx/llm/test_true_openai_model.py
Due: check-lazy-imports

fix(web search ui): make font sizes consistent (#6606)
  web/src/app/admin/configuration/web-search/page.tsx
Due: typescript-check

feat(helm): add mcp server (#6586)
  deployment/data/nginx/mcp.conf.inc.template
  deployment/helm/charts/onyx/Chart.yaml
  deployment/helm/charts/onyx/templates/ingress-mcp.yaml
  deployment/helm/charts/onyx/templates/mcp-server-deployment.yaml
  deployment/helm/charts/onyx/templates/mcp-server-service.yaml
  deployment/helm/charts/onyx/templates/nginx-conf.yaml
  deployment/helm/charts/onyx/values.yaml
Due: none

chore(devtools): QOL improvements for cherry-pick script (#6620)
  tools/ods/cmd/cherry-pick.go
  tools/ods/cmd/root.go
Due: none

chore: delete unused code (#6622)
  backend/onyx/main.py
  backend/onyx/server/features/web_search/api.py
  backend/onyx/server/features/web_search/models.py
  backend/onyx/server/openai_assistants_api/assistants_api.py
  backend/onyx/server/openai_assistants_api/full_openai_assistants_api.py
  backend/onyx/server/openai_assistants_api/messages_api.py
  backend/onyx/server/openai_assistants_api/runs_api.py
  backend/onyx/server/openai_assistants_api/threads_api.py
  backend/onyx/tools/models.py
  backend/onyx/tools/tool_implementations/python/code_interpreter_client.py
  backend/onyx/tools/tool_implementations/python/python_tool.py
  backend/onyx/tools/tool_implementations_v2/tool_result_models.py
  backend/tests/integration/openai_assistants_api/conftest.py
  backend/tests/integration/openai_assistants_api/test_assistants.py
  backend/tests/integration/openai_assistants_api/test_messages.py
  backend/tests/integration/openai_assistants_api/test_runs.py
  backend/tests/integration/openai_assistants_api/test_threads.py
Due: check-lazy-imports

chore(deps): make backend/ a uv workspace (#6460)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements/README.md
  backend/requirements/default.txt
  backend/requirements/ee.txt
  backend/requirements/model_server.txt
  backend/scripts/compile_requirements.py
  pyproject.toml
  uv.lock
Due: check-lazy-imports

chore(devtools): upgrade onyx-devtools 0.0.1->0.0.2 (#6623)
  backend/requirements/dev.txt
  pyproject.toml
  uv.lock
Due: none

chore(slack): add better typing + move some logs from debug to info (#6613)
  backend/onyx/context/search/federated/models.py
  backend/onyx/context/search/federated/slack_search.py
  backend/onyx/context/search/federated/slack_search_utils.py
Due: check-lazy-imports

fix(llms): sanitize vision providers (#6624)
  backend/onyx/server/manage/llm/api.py
Due: check-lazy-imports

refactor(actions): improved flexibility of actioncard and few ui changes (#6597)
  backend/onyx/db/tools.py
  web/src/components/FadeDiv.tsx
  web/src/lib/tools/mcpUtils.tsx
  web/src/lib/tools/types.ts
  web/src/sections/actions/ActionCard.tsx
  web/src/sections/actions/ActionCardHeader.tsx
  web/src/sections/actions/Actions.tsx
  web/src/sections/actions/MCPActionCard.tsx
  web/src/sections/actions/MCPActionsList.tsx
  web/src/sections/actions/MCPPageContent.tsx
  web/src/sections/actions/OpenApiActionCard.tsx
  web/src/sections/actions/OpenApiPageContent.tsx
  web/src/sections/actions/ToolItem.tsx
  web/src/sections/actions/ToolsList.tsx
  web/src/sections/actions/ToolsSection.tsx
  web/src/sections/actions/modals/AddMCPServerModal.tsx
  web/src/sections/actions/modals/AddOpenAPIActionModal.tsx
  web/src/sections/actions/modals/DisconnectMCPModal.tsx
  web/src/sections/actions/modals/MCPAuthenticationModal.tsx
Due: check-lazy-imports, typescript-check

fix: add default-groups=all (#6632)
  pyproject.toml
Due: none

fix(sharepoint): Shared link fix (#6607)
  backend/onyx/connectors/sharepoint/connector.py
  backend/tests/unit/onyx/connectors/sharepoint/test_url_parsing.py
Due: check-lazy-imports

fix: only re-index active connectors (#6631)
  backend/onyx/background/celery/tasks/docprocessing/tasks.py
Due: check-lazy-imports

feat: add standard for default tools -> make openURL a default tool (#6581)
  backend/onyx/db/persona.py
  backend/onyx/server/features/persona/models.py
  backend/onyx/server/features/tool/api.py
  backend/onyx/server/features/tool/models.py
  backend/onyx/server/features/tool/tool_visibility.py
  backend/onyx/tools/constants.py
  web/src/app/admin/assistants/AssistantEditor.tsx
  web/src/app/admin/configuration/default-assistant/page.tsx
  web/src/components/admin/assistants/ToolSelector.tsx
  web/src/lib/tools/interfaces.ts
  web/src/lib/tools/types.ts
  web/src/refresh-components/popovers/ActionsPopover/index.tsx
Due: check-lazy-imports, typescript-check

feat: deep research prompts (#6635)
  backend/onyx/chat/prompt_utils.py
  backend/onyx/prompts/agent_search.py
  backend/onyx/prompts/agentic_evaluation.py
  backend/onyx/prompts/agents/dc_prompts.py
  backend/onyx/prompts/chat_prompts.py
  backend/onyx/prompts/deep_research/__init__.py
  backend/onyx/prompts/deep_research/dr_tool_prompts.py
  backend/onyx/prompts/deep_research/orchestration_layer.py
  backend/onyx/prompts/deep_research/research_agent.py
  backend/onyx/prompts/dr_prompts.py
  backend/onyx/prompts/tool_prompts.py
  backend/onyx/secondary_llm_flows/agentic_evaluation.py
Due: check-lazy-imports

chore(docs): prefer uv over pip (#6628)
  CONTRIBUTING.md
  backend/tests/integration/mock_services/mock_connector_server/Dockerfile
Due: none

chore(devtools): simplify compile requirements (#6630)
  .github/workflows/pr-python-checks.yml
  .pre-commit-config.yaml
  backend/requirements/README.md
  backend/scripts/compile_requirements.py
Due: check-lazy-imports

chore(dev): make "dev" an optional-dependency (#6640)
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/requirements/README.md
  backend/requirements/dev.txt
  pyproject.toml
  uv.lock
Due: none

fix: hitting endpoint with undefined persona (#6637)
  web/src/app/chat/hooks/useChatController.ts
Due: typescript-check

feat(llm): fetch dynamic provider models directly from source APIs (#6619)
  backend/alembic/versions/7bd55f264e1b_add_display_name_to_model_configuration.py
  backend/onyx/db/llm.py
  backend/onyx/db/models.py
  backend/onyx/llm/constants.py
  backend/onyx/llm/llm_provider_options.py
  backend/onyx/llm/utils.py
  backend/onyx/server/manage/llm/api.py
  backend/onyx/server/manage/llm/models.py
  backend/onyx/server/manage/llm/utils.py
  backend/tests/unit/onyx/db/test_llm_sync.py
  backend/tests/unit/onyx/llm/test_bedrock_token_limit.py
  backend/tests/unit/onyx/server/manage/llm/test_fetch_models_api.py
  backend/tests/unit/onyx/server/manage/llm/test_llm_provider_utils.py
  web/src/app/admin/configuration/llm/LLMProviderUpdateForm.tsx
  web/src/app/admin/configuration/llm/interfaces.ts
  web/src/app/admin/configuration/llm/utils.ts
  web/src/icons/aws.tsx
  web/src/icons/openrouter.tsx
Due: check-lazy-imports, typescript-check

fix: add reciprocal rank score for web search docs based on ordering (#6625)
  backend/onyx/tools/tool_implementations/web_search/utils.py
  backend/onyx/tools/tool_implementations/web_search/web_search_tool.py
Due: check-lazy-imports

fix(ui): Normalize Emails (#6636)
  web/src/components/admin/users/BulkAdd.tsx
  web/src/components/admin/users/PendingUsersTable.tsx
  web/src/components/admin/users/SignedUpUserTable.tsx
  web/src/components/admin/users/buttons/InviteUserButton.tsx
Due: typescript-check

feat: standardize placeholders in default system prompt (#6643)
  backend/alembic/versions/87c52ec39f84_update_default_system_prompt.py
  backend/onyx/chat/prompt_utils.py
  backend/onyx/prompts/chat_prompts.py
  backend/onyx/prompts/prompt_utils.py
  web/src/app/admin/configuration/default-assistant/page.tsx
  web/src/components/admin/assistants/ToolSelector.tsx
Due: check-lazy-imports, typescript-check

chore(vscode): migrate install python reqs to uv (#6654)
  .vscode/launch.template.jsonc
Due: none

chore: LLM step to give packets that can be modified as needed (#6641)
  backend/onyx/chat/chat_state.py
  backend/onyx/chat/llm_loop.py
  backend/onyx/chat/llm_step.py
  backend/onyx/chat/process_message.py
  backend/onyx/deep_research/__init__.py
  backend/onyx/deep_research/dr_loop.py
  backend/onyx/prompts/tool_prompts.py
Due: check-lazy-imports

chore(devtools): `ods db` operations (#6661)
  tools/ods/cmd/cherry-pick.go
  tools/ods/cmd/db.go
  tools/ods/cmd/db_drop.go
  tools/ods/cmd/db_dump.go
  tools/ods/cmd/db_migrate.go
  tools/ods/cmd/db_restore.go
  tools/ods/cmd/root.go
  tools/ods/internal/alembic/alembic.go
  tools/ods/internal/docker/docker.go
  tools/ods/internal/paths/paths.go
  tools/ods/internal/postgres/postgres.go
  tools/ods/internal/prompt/prompt.go
Due: none

chore(devtools): upgrade onyx-devtools 0.0.2->0.0.3 (#6662)
  backend/requirements/dev.txt
  pyproject.toml
  uv.lock
Due: none

chore(devtools): upgrade onyx-devtools 0.0.3->0.1.0 (#6663)
  backend/requirements/dev.txt
  pyproject.toml
  uv.lock
Due: none

fix: toast for non-admin onboarding flow (#6651)
  web/src/refresh-components/onboarding/components/NonAdminStep.tsx
Due: typescript-check

chore: only pause after repeated failure on cloud (#6673)
  backend/onyx/db/connector_credential_pair.py
  backend/tests/integration/tests/indexing/test_repeated_error_state.py
Due: check-lazy-imports

fix: tag race condition (#6674)
  backend/onyx/db/tag.py
  backend/tests/external_dependency_unit/db/test_tag_race_condition.py
Due: check-lazy-imports

fix(web): handle br encoding of sitemap (#6647)
  backend/onyx/connectors/web/connector.py
  backend/requirements/default.txt
  backend/requirements/dev.txt
  backend/requirements/ee.txt
  backend/requirements/model_server.txt
  pyproject.toml
  uv.lock
  web/package-lock.json
Due: check-lazy-imports

fix(users): Add Race Condition Handling (#6639)
  backend/onyx/auth/users.py
Due: check-lazy-imports

Path conditions:
  terraform-fmt: any of: \.tf$
  check-lazy-imports: any of: ^backend/(?!\.venv/).*\.py$
  typescript-check: any of: ^web/.*\.(ts|tsx)$
